<div class="signup-box">
    <img src="./assets/img/logo.png" class="avatar" alt="Avatar Image">
    <h1>Signup Here</h1>
    <form [formGroup]="signup" (ngSubmit)="userdata()">
      <!-- USERNAME INPUT -->
      <label for="username">Username</label>
      <input type="text" placeholder="Enter Username" formControlName="username"
      [ngClass]="{'is-invalid':signup.get('username').touched && signup.get('username').invalid}">
      <div *ngIf="signup.get('username').touched && signup.get('username').invalid">
        <div *ngIf="signup.get('username').errors.required">username required</div>
        <div *ngIf="signup.get('username').errors.minlength">minimum length four</div>
      </div>
      <!-- PASSWORD INPUT -->
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" formControlName="password"
      [ngClass]="{'is-invalid':signup.get('password').touched && signup.get('password').invalid}">
      <div *ngIf="signup.get('password').touched && signup.get('password').invalid">
        <div *ngIf="signup.get('password').errors.required">password required</div>
        <div *ngIf="signup.get('password').errors.minlengt">minimum length four</div>
      </div>
     
      <label for="email">Email</label>
      <input type="text" placeholder="Enter email" formControlName="email"
      [ngClass]="{'is-invalid':signup.get('email').touched && signup.get('email').invalid}">
      <div *ngIf="signup.get('email').touched && signup.get('email').invalid">
        <div *ngIf="signup.get('email').errors.required">email required</div>
        <div *ngIf="signup.get('email').errors.email">plz enter valid email</div>
      </div>


      <label for="address">Address</label>
      <input type="text" placeholder="Enter address" formControlName="address"
      [ngClass]="{'is-invalid':signup.get('address').touched && signup.get('address').invalid}">
      <div *ngIf="signup.get('address').touched && signup.get('address').invalid">
        <div *ngIf="signup.get('address').errors.required">address required</div>
        <div *ngIf="signup.get('address').errors.minlength">minimum length five</div>
      </div>
      <input type="submit" value="Log In">
    
      <a href="#">Already have An account?</a>
    </form>
  </div>